# Hexo Configuration
## Docs: http://hexo.io/docs/configuration.html
## Source: https://github.com/hexojs/hexo/

# Site
title: Jared Forsyth
subtitle: node.js python data science golang philosophy faith
description:
author: Jared Forsyth
email: jared@jaredforsyth.com
language:

# URL
## If your site is put in a subdirectory, set url as 'http://yoursite.com/child' and root as '/child/'
url: http://jaredly.github.io
root: /
permalink: :year/:month/:day/:title/
tag_dir: tags
archive_dir: archives
category_dir: categories
code_dir: downloads/code
permalink_defaults:

# Directory
source_dir: source
public_dir: public

# Writing
new_post_name: :title.md # File name of new posts
default_layout: post
auto_spacing: false # Add spaces between asian characters and western characters
titlecase: false # Transform title into titlecase
external_link: true # Open external links in new tab
filename_case: 1
render_drafts: false
post_asset_folder: false
relative_link: false
highlight:
  enable: true
  line_number: true
  tab_replace:

# Category & Tag
default_category: uncategorized
category_map:
tag_map:

# Archives
## 2: Enable pagination
## 1: Disable pagination
## 0: Fully Disable
archive: 2
category: 2
tag: 2

# Server
## Hexo uses Connect as a server
## You can customize the logger format as defined in
## http://www.senchalabs.org/connect/logger.html
port: 4000
server_ip: 0.0.0.0
logger: false
logger_format:

# Date / Time format
## Hexo uses Moment.js to parse and display date
## You can customize the date format as defined in
## http://momentjs.com/docs/#/displaying/format/
date_format: MMM D YYYY
time_format: H:mm:ss

# Pagination
## Set per_page to 0 to disable pagination
per_page: 10
pagination_dir: page

# Disqus
disqus_shortname:

# Extensions
## Plugins: https://github.com/hexojs/hexo/wiki/Plugins
## Themes: https://github.com/hexojs/hexo/wiki/Themes
theme: hexium
exclude_generator:
plugins:
- hexo-local-image
- hexo-generator-feed

feed:
  type: rss2
  path: rss.xml
  limit: 20

theme_config:
  bio: "I'm an unashamed idealist, but I'm not afraid to change my opinions. I love creating beautiful things. interfaces, apis, music. ideas."
  author_image: "http://www.gravatar.com/avatar/313878fc8f316fc3fe4443b13913d0a4.png"
  cover: /images/trees.jpg
  main_image:  "http://www.gravatar.com/avatar/313878fc8f316fc3fe4443b13913d0a4.png?s=200"
  twitter: jaredforsyth
  github: jaredly
  logo: /images/logo/JF_64.png
  favicon: images/logo/JF_black_32.png
  ga_id: "UA-7002862-5"
  ga_site: jaredly.github.io

# Deployment
## Docs: http://hexo.io/docs/deployment.html
deploy:
  type:
