
h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
  text-decoration: none;
}

.marker {
  width: 0;
  display: none;
  pointer-events: none;
}

.marker::after {
  /*width: 5px;*/
  /*height: 5px;*/
  /*width: 1px;*/
  /*display: inline-block;*/
  color: white;
  font-weight: bold;
  content: " ";
  /*background-color: red;*/
  pointer-events: none;
  /*position: absolute;*/
}

.marker.left::after {
  content: "[";
  margin-left: -.5em;
}

.marker.right::after {
  content: "]";
}
