body {
    /*background-color: red!important*/
}

.post-content {
  position: relative;
}

.toc-wrapper {
  /*position: absolute;
  top: 50px;
  right: 100%;*/
  left: 10px;
  top: 80px;
  bottom: 80px;
  overflow: auto;
  position: fixed;
}

@media (max-width: 1200px) {
  .toc-wrapper {
    position: static;
    margin-bottom: 1em;
  }
}

.post .post-content p.empty {
  display: none;
}

p:empty {
  display: none;
}

.post .post-content ul,
.post .post-content ul,
.post .post-content ul li {
  padding-bottom: 0;
  margin-bottom: 0;
}
.post .post-content ul {
  margin-bottom: 20px;
}

.post .post-content ul li p {
  margin-bottom: 10px;
  padding-bottom: 0;
}

.post .post-content blockquote,
.post .post-content p {
  padding-bottom: 0px;
  margin-bottom: 20px;
}

.post .post-content .toc-wrapper ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border-left: 1px solid #aaa;
  padding-left: 5px;
  margin-left: 5px;
}
.post .post-content .toc-wrapper li {
  padding: 0;
  margin: 0;
  font-size: 14px;
}
.post .post-content .toc-wrapper a {
  text-decoration: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  display: block;
  line-height: 1.5;
}
.post .post-content .toc-wrapper a:hover {
  text-decoration: underline;
}

.post .post-content pre.hljs {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 15px;
  margin-bottom: 1em;
}

.post .post-content h2 {
  margin-top: 0;
  padding-top: .5em;
}

.reason-file {
  font-family: monospace;
  margin-bottom: 22px;
}

.reason-file .reason-file-name {
  padding: 5px;
  font-style: italic;
  /*border: 1px solid #aaa;*/
}

.post .post-content p code {
  font-size: 14px;
  background-color: #e7faff;
  -webkit-font-smoothing: auto;
  padding: 5px;
}

.reason-source {
  padding: 10px;
  /*padding-top: 10px;*/
  background-color: #002b36;
  white-space: pre;
  border-radius: 5px;
}

.reason-source .code-chunk.collapsible {
  cursor: pointer;
  background-color: #003d4d;
}

.reason-source .code-chunk.collapsible.collapsed {
  height: 1.3em;
  position: relative;
  overflow: hidden;
}

.reason-source .code-chunk.collapsible.collapsed:after {
  content: '/* ... */';
  background-color: #002b36;
  height: 1.3em;
  display: block;
  color: #aaa;
  cursor: pointer;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.reason-source .code-chunk.collapsible.collapsed:hover:after {
  background-color: #003d4d;
}

.reason-source .code-chunk.collapsible.expanded {
}

iframe {
  border: none;
}

.render-target {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.code-many {
  position: relative;
}

.code-many .render-target {
  position: absolute;
  left: 100%;
  top: 0;
}

@media (max-width: 1320px) {
  .code-many .render-target {
    position: static;
  }
}

/*.t   










































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































contents {
  position: fixed;
  top: 50px;
  left: 100px;
}*/
